@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --primary-color: hsl(0, 0%, 93%);
  --primary-hue: 0;
  --primary-saturation: 0%;
  --primary-lightness: 93%;
  --secondary-color: hsl(216, 18%, 16%);
  --action-color:		hsl(221, 83%, 53%);
}
* {
  transition: color 0.3s linear, background-color 0.3s linear;
}

html, body{
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}
body.dark{
  --primary-color: hsl(0, 0%, 7%);
  --primary-hue: 0;
  --primary-saturation: 0%;
  --primary-lightness: 7%;
  --secondary-color: hsl(216, 18%, 84%);
}
h1 {
  width: 100%;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.01rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.65rem;
  letter-spacing: 0.01rem;
  opacity: 0.9;
  margin: 0.5rem;
}

@media (max-width: 768px){
  html {
      font-size: 14px;
  }
}
